// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.d-none{
    display: none;
}
.d-block{
    display: block;
}
.click{
    cursor: pointer;
}
.search-input{
    background-color: white;
    border-radius: 22px;
    border-bottom: 0px;
}